<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/admin.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-end" id="sidebar-wrapper">
            <div class="sidebar-heading text-white px-3 py-4">Admin Dashboard</div>
            <div class="list-group list-group-flush">
                @* <a asp-controller="Dashboard" asp-action="Index" class="list-group-item list-group-item-action ">Dashboard</a> *@
                <a asp-controller="Account" asp-action="Index" class="list-group-item list-group-item-action ">Users</a>
                <a asp-controller="Venue" asp-action="Index" class="list-group-item list-group-item-action ">Venues</a>
                <a asp-controller="TicketCategory" asp-action="Index" class="list-group-item list-group-item-action ">Ticket Categories</a>
                <a asp-controller="Organizer" asp-action="Index" class="list-group-item list-group-item-action ">Organizers</a>
                <a asp-controller="Event" asp-action="Index" class="list-group-item list-group-item-action ">Events</a>
                <a asp-controller="Ticket" asp-action="Index" class="list-group-item list-group-item-action ">Tickets</a>
                <a asp-controller="Booking" asp-action="Index" class="list-group-item list-group-item-action ">Booking</a>


            </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper" class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn" id="menu-toggle" style="background-color:#7C4585; color:white"><i class="bi bi-list"></i></button>
                    <span class="ms-auto">Welcome, @User.Identity.Name </span>
                </div>
            </nav>

            <div class="container-fluid mt-4">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
